body {
  background-color: #329bc2;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #fff;
}
.centerThis{
  margin-left: auto;
  margin-right: auto;
}
div.console_title span {
  line-height: 25px;
  margin-left: 10px;
  color: #fff;
  font-family: 'Ubuntu Mono', sans-serif;
  font-weight: 700;
}

div.console_title {
  width: 650px;
  height: 25px;
  background-color: #333;
  border: 3px solid #AAA;
  border-bottom: 0px solid #FFF;
}

div.console {
  width: 650px;
  height: 322px;
  background-color: black;
  border: 3px solid #AAA;
  border-top: 0px solid #FFF;
  overflow: hidden;
  position: relative;
}

div.content {
  position: absolute;
  margin-bottom: 2px;
  margin-left: 4px;
  bottom: 0;
  min-height: 322px;
}

.console, .console span {
  font-family: 'Ubuntu Mono', sans-serif;
  font-weight: 700;
}

.console_clean {
  color: #1e63b8;
}

.console_hash {
  color: #616161;
}

.console_pc_name {
  color: #88659f;
}

.console_directory {
  color: #61e1c7
}

.console_text {
  color: #aaaaaa
}

.console_text_green {
  color: #50a440
}

.console_text_red {
  color: #bc2b2b
}

.console_text_white {
  color: #fff
}

.console_text_dark_green {
  color: #018167
}

span.console_cursor {
  background-color: #aaaaaa
}
